*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #eee;
}

nav,footer{
	background-color: black;
	color:#FFF;
	height: 30px;
	margin: 10px;
}

nav img{
	height: 100%;
}

#list1{
	float: right;
}

ul li{
	list-style: none;
}

#list1 li{
	float: left;
	width: 100px;
	text-align:center; 
}

li a,td a,footer p{
	text-decoration: none;
	line-height: 30px;
}

li a{
	color: white;
}
section,aside,ol{
	background-color: white;
	margin: 10px;
	padding: 5px 10px;
	border-bottom: 3px solid #ddd;
}

ol{
	border: none;
}

 h3{
 	color: #aaa;
 }

 p{
 	text-indent: 2em;
 }

 .author{
 	color: #ccc;
 }

 #img{
 	border: 1px solid #ddd;
 	width: 300px;
 }

#img p,footer p{
	text-indent: 0;
	text-align: center;
}

table{
	width: 100%;
}

 table,th,td{
 	border: 1px solid black;
 }

 thead{
 	background-color: #222;
 	color: white;
 }

 tfoot{
 	background-color: #aaa;
 	font-weight: bold;
 }

 caption{
 	text-align:left;
 }

aside h2{
	border-left: 3px solid #ddd;
}

label{
	width:8em;
	text-align: right;
	float: left;
}

input,select,textarea{
	margin-left:1em;	
}

input[type="text"]{
	width: 16em;
}

input[type="submit"]{
	background-color: blue;
	color: white;
	width: 100%;
	margin-left: auto;
	line-height: 200%;
	border: 1px solid blue;
	border-radius: 2%/30%;
}






